<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blogging API</title>

		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			body {
				height: 100vh;
				max-width: 100%;
                background-color: rgb(246, 223, 176);
				padding: 8px;
				font-family: sans-serif;
			}

			.row {
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 4px 8px;
				margin: 6px 0;
				max-width: 900px;

				& div {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 16px;
				}
			}

			.POST {
				color: rgb(16, 239, 16);
			}

			.POST_REQ {
				border: 1px solid rgb(17, 141, 17);
			}

			.DELETE {
				color: red;
			}

			.DELETE_REQ {
				border: 1px solid red;
			}

			.GET {
				color: rgb(5, 77, 177);
			}

			.GET_REQ {
				border: 1px solid brown;
			}

			.PATCH {
				color: rgb(214, 163, 12);
			}

			.PATCH_REQ {
				border: 1px solid chocolate;
			}
		</style>
	</head>
	<body>
		<header
			style="
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			">
			<h1>KINGS Blogging App</h1>
			<section>
				<li style="list-style-type: none">
					
					
				</li>
				<li style="list-style-type: none">
					<a target="_blank" href="https://github.com/kingsley-chukwuani"
						>Github</a
					>
				</li>
			</section>
		</header>

		<div style="margin-top: 8px">
			<h2>Routes</h2>
			<div style="padding: 0 8px">
				<h3>User</h3>
				<ul>
					<li class="row POST_REQ">
						<div>
							<span class="POST">POST</span>
							<strong style="font-weight: 700"
								>/auth/login</strong
							>
						</div>
						<p>Logs in a User</p>
					</li>
					<li class="row POST_REQ">
						<div>
							<span class="POST">POST</span>
							<strong style="font-weight: 700"
								>/auth/register</strong
							>
						</div>
						<p>Registers a User</p>
					</li>
				</ul>
			</div>
			<div style="padding: 0 8px">
				<h3>Blogs</h3>
				<ul>
					<li class="row GET_REQ">
						<div>
							<span class="GET">GET</span>
							<strong style="font-weight: 700">/blog</strong>
						</div>
						<p>Gets a list of published blogs</p>
					</li>
					<li class="row POST_REQ">
						<div>
							<span class="POST">POST</span>
							<strong style="font-weight: 700">/blog</strong>
						</div>
						<p>Creates a blog</p>
					</li>
					<li class="row PATCH_REQ">
						<div>
							<span class="PATCH">PATCH</span>
							<strong style="font-weight: 700">/blog/:id</strong>
						</div>
						<p>Updates a blog</p>
					</li>
					<li class="row DELETE_REQ">
						<div>
							<span class="DELETE">DELETE</span>
							<strong style="font-weight: 700">/blog/:id</strong>
						</div>
						<p>Deletes a blog</p>
					</li>

					<li class="row GET_REQ">
						<div>
							<span class="GET">GET</span>
							<strong style="font-weight: 700">/blog/me</strong>
						</div>
						<p>Gets a list of the logged in user's blogs.</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>